root = true

# Due to a bug in the EditorConfig for SublimeText, we set tab indentation for
# all files and we set exceptions for all files with an extension

[*]
indent_style = space
indent_size = 2

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
